[project]
[access "refs/heads/*"]
	owner = group Administrators
	abandon = group nookhd_devs
	create = group nookhd_devs
	push = +force group nookhd_devs
	label-Code-Review = -2..+2 group nookhd_devs
	label-Verified = -1..+1 group nookhd_devs
	submit = group nookhd_devs
[submit]
	action = rebase if necessary
